<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semanticui/2.4.1/semantic.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semanticui/2.4.1/semantic.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body style="font-family:Arial; font-size:medium; color:darkblue">
    <div class="ui container">
    <br/><br/>
    <h1 class="ui header">AngularJS Tutorial</h1>
    <h3 class="ui header">Event Handling - Button Click</h3>
        <div ng-controller="MyController">
            <h2>Button click event in AnjularJS</h2>
            <input type="button" value="Click Me!" ng-click="ButtonClickFunc()"/>
            <br/>
            <br/>
            <div ng-bind="Message"></div>
        </div>
        <script type="text/javascript">
            var app = angular.module('myModule', [])
            app.controller('MyController', function ($scope)
            {
                $scope.ButtonClickFunc = function ()
                {
                    $scope.Message = "Atmiya University !!."
                }
            });
        </script>
    </div>
</body>
</html>