<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>AngularJS</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="app5_12.js"></script>
</head>
	<body ng-App="myModule">
	<div class="ui container">
	<br/><br/>
		<h1>AngularJS</h1>
		<h3>Controller in AngularJS</h3>
		<div ng-controller="myController">
			<div class="row">
				<div class="ui compact message">
					<p> FirstName - {{ employee.firstName }}</p>
				</div>
				<div class="ui compact message">
					<p> LastName - {{ employee.lastName }}</p>
				</div>
			</div>
			<div class="row">
				<div class="ui compact message">
					<p> University - {{ employee.university }}</p>
				</div><br>
				<div class="ui compact message">
					<p><img ng-src="{{ employee.logo }}" width=150 height=150/></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

