<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="app5_18.js"></script>
</head>
<body ng-app="myModule">
    <div class="ui container"><br/><br/>
    <h1 class="ui header">AngularJS Tutorial</h1>
    <h3 class="ui header">Event handling using ng-repeat and ng-click</h3>
        <div ng-controller="myController">
            <table class="ui very classic table">
                <tr>
                    <th>Movie Type</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th></th>
                    <th></th>
                    </tr>
                <tr ng-repeat="movie in Movies">
                    <td>{{movie.MovieType}}</td>
                    <td>{{movie.likes}}</td>
                    <td>{{movie.dislikes}}</td>
                    <td><input type="button" value="Like" ng-click="incrementLikes(movie)"/></td>
                    <td><input type="button" value="Dislike" ng-click="incrementDisLikes(movie)"/></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>

