<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semanticui/2.4.1/semantic.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semanticui/2.4.1/semantic.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body>
    <div class="ui container">
    <br/><br/>
    <h1>AngularJS</h1>
    <h3>Controller in AngularJS</h3>
        <div ng-app="" ng-init="firstName='Khushbu'">
            <p>Input something in the input box:</p>
            <p>Name: <input type="text" ng-model="firstName"></p>
            <p>You wrote: {{ firstName }}</p>
        </div>
    </div>
</body>
</html>