<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
    <script src="angular.js"></script>
</head>
<body ng-App="myModule">
    <div class="ui container">
        <div class="row">
            <h1>Angular Js Tutorial</h1>
        </div>
        <div class="row">
            <h3>Event Handling</h3>
        </div>
        <div class="row">
                <div class="ui link cards" ng-controller="myController">
                 <div class="card" ng-repeat="student in students">
                 <div class="image">
                 <img ng-src="{{student.path}}">
                 </div>
                 <div class="content">
                 <div class="header">{{student.firstName}} {{student.lastName}}</div>
                 </div>
                 <div class="description">
                     Semester : {{student.semester}}
                 </div>
                 <div class="extra content">
                 <div class="ui labeled button mini" tabindex="0">
                         <div class="ui red button mini" ng-click="incrementLikes(student)">
                         <i class="heart icon"></i> Like
                         </div>
                         <a class="ui basic red left pointing label mini">
                         {{student.likes}}
                         </a>
                        </div>
                        <div class="ui labeled button mini" tabindex="0">
                         <div class="ui basic blue button mini" ng-click="incrementDisLikes(student)">
                         <i class="heart icon"></i>Dislike
                         </div>
                         <a class="ui basic left pointing blue label mini">
                          {{student.dislikes}}
                         </a>
                        </div>
                 </div>
                 </div>
                </div>
        </div>
    </div>
    <script src="app5_19.js"></script>
</body>
</html>
