<!DOCTYPE html>
<html lang="en" ng-App>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <title>AngularJS</title>
</head>
<body>
    <div class="ui container">
        <br/><br/>
        <div class="row">
            <h1 class="ui header">AngularJS Tutorials</h1>
            <h3 class="ui header">First Applications</h3>
            <p>{{ 'he' + 'llo' }}</p>
        </div>
    </div>
</body>
</html>