<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="app5_15.js"></script>
</head>
<body ng-App="myModule">
    <div class="ui container">
        <div ng-controller="myController">
            <table class="ui very classic table">
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>University</th>
                </thead>
                <tr ng-repeat="employee in employees">
                    <td>{{employee.fName}}</td>
                    <td>{{employee.lName}}</td>
                    <td>{{employee.university}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
