<!DOCTYPE html>
<html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semanticui/2.4.1/semantic.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semanticui/2.4.1/semantic.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<body>
    <div class="ui container">
    <br/><br/>
    <h1 class="ui header">AngularJS Tutorials</h1>
    <h3 class="ui header">Two way Data Binding</h3>
        <div data-ng-app="" data-ng-init="quantity=1;price=20">
            <div class="row">
                <h2>Cost Calculator</h2>
            </div>
            <div class="row">
                Quantity: <input type="number" data-ng-model="quantity">
                Price: <input type="number" data-ng-model="price">
            </div>
            <div class="row">
                <p><b>Total in rupees:</b> {{quantity * price}}</p>
            </div>
        </div>
    </div>
</body>
</html>