<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semanticui/2.4.1/semantic.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semanticui/2.4.1/semantic.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body style="font-family:Arial; font-size:medium; color:darkblue">
    <div class="ui container"><br/><br/>
        <h1 class="ui header">AngularJS Tutorial</h1>
        <h3 class="ui header">Mouse over event in AnjularJS</h3>
        <div ng-controller="myCtrl">
            <h2 ng-mousemove="myFunction($event)"> Mouse Over Me!</h2>
            <h2>Coordinates: x={{x}} , y= {{y}}</h2>
        </div>
        <script>
            var app = angular.module('myModule', []);
            app.controller('myCtrl', function ($scope)
            {
                $scope.myFunction = function (myEvent)
                {
                    $scope.x = myEvent.clientX;
                    $scope.y = myEvent.clientY;
                }
            });
        </script>
    </div>
</body>
</html>