<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="app5_26.js"></script>
</head>
<body ng-App="sortingApp">
    <div class="ui container" ng-controller="sortingControl">
        <table class="ui very compact basic table">
            <tr>
                <th ng-click="sortData('branchName')">Branch Name<i ng-class="getClass('branchName')"></i></th>
                <th ng-click="sortData('zone')">Zone<i ng-class="getClass('zone')"></i></th>
                <th ng-click="sortData('state')">State<i ng-class="getClass('state')"></i></th>
                <th ng-click="sortData('city')">City<i ng-class="getClass('city')"></i></th>
            </tr>
            <tr ng-repeat="d in data | orderBy:sortColumn:reverse">
                <td>{{d.branchName}}</td>
                <td>{{d.zone}}</td>
                <td>{{d.state}}</td>
                <td>{{d.city}}</td>
            </tr>
        </table>
    </div>
</body>
</html>
