<!DOCTYPE html>
<html ng-app>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body style="font-family:Arial; font-size: medium; color:darkblue">
    <div class="ui container"><br/><br/>
        <h1 class="ui header">AngularJS Tutorial</h1>
        <h3 class="ui header">Event Handling on Key Press</h3>
        <input type="button" value="Click" ng-keypress="count=count+1" ng-init ="count=0"/>
        <br/><br/>
        <div class="ui compact message">
            <p>key press count={{count}}</p>
        </div>
    </div>
</body>
</html>
