<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="app5_21.js"></script>
</head>
<body ng-App="sortingApp">
    <div class="ui container">
        <div ng-controller="sortingControl">
            <table class="ui very compact basic table">
                <tr>
                    <th>Branch Name</th>
                    <th>Zone</th>
                    <th>State</th>
                    <th>City</th>
                </tr>
                <tr ng-repeat="d in data | orderBy:'branchName'">
                    <td>{{d.branchName}}</td>
                    <td>{{d.zone}}</td>
                    <td>{{d.state}}</td>
                    <td>{{d.city}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
