<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS Tutorial</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body>
    <div class="ui container" ng-App>
    <br/><br/><br/>
        <h1 class="ui header">AngularJS Tutorial</h1>
        <h3>Simple AngularJS Program</h3>
        <div class="ui grid">
            <div class="row">
                <div class="four wide column">
                    <div class="ui floating message">
                        <p align="center">10 + 10 = {{ 10 + 10 }}</p>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui floating message">
                        <p align="center">1 ==2 : {{ 1 == 2 }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="four wide column">
                    <div class="ui floating message">
                        <p align="center">1 ==1 : {{ 1 == 1 }}</p>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui floating message">
                        <p align="center">University: {{ {University: "Atmiya University"}.University }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="four wide column">
                    <div class="ui floating message">
                        <p align="center">Array Name:- {{ ["Khushbu","Kansagra"][1] }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>