<!DOCTYPE html>
<html >
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body ng-app="myApp">
    <div class="ui container">
    <br><br>
        <div ng-controller="myController">
           {{message}}
        </div>
        <script>
            var myApp = angular.module("myApp", []);
            myApp.controller("myController", function ($scope) {
                $scope.message = "Khushbu Kansagra";
            });
        </script>
    </div>
</body>
</html>