<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS tutorial</title>
    <script src="angular.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="myModule">
    <h1>AngularJS Tutorial</h1>
    <h3>DB demo</h3>
    
    <div ng-controller="myController">
        {{error}}
        <label>show / hide data</label><input type="checkbox" ng-model="showHide"/>
        <label>Search data</label><input type="text" ng-model="searchData"/>
        <label>Begin</label><input type="text" ng-model="beginData"/>
        <label>Limit data</label><input type="text" ng-model="limitData"/>
        <div ng-include="myTable"></div>
    </div>
</body>
</html>