<table ng-show="showHide">
                <th>UNIQUE_ID</th>
                <th>POSITION_TITLE</th>
                <th>DEPARTMENT</th>
                <th>BASE_SALARY</th>
                <th>RACE</th>
                <th>EMPLOYMENT_TYPE</th>
                <th>GENDER</th>
                <th>EMPLOYMENT_STATUS</th>
                <th>HIRE_DATE</th>
                <th>JOB_DATE</th>
                <tr ng-repeat="d in data | limitTo:limitData:beginData | filter:searchData">
                    <td>{{d.UNIQUE_ID}}</td>
                    <td>{{d.POSITION_TITLE}}</td>
                    <td>{{d.DEPARTMENT}}</td>
                    <td>{{d.BASE_SALARY}}</td>
                    <td>{{d.RACE}}</td>
                    <td>{{d.EMPLOYMENT_TYPE}}</td>
                    <td>{{d.GENDER}}</td>
                    <td>{{d.EMPLOYMENT_STATUS}}</td>
                    <td>{{d.HIRE_DATE}}</td>
                    <td>{{d.JOB_DATE}}</td>
                </tr>
            </table>